{% extends "layout.html" %}

{% block content %}
<script>
	window.onload = function(){
    	document.getElementById('update_userinfo').style.display = 'none';
    	document.getElementById('update_billinginfo').style.display = 'none';
    	document.getElementById('update_shippinginfo').style.display = 'none';
    	document.getElementById('update_creditinfo').style.display = 'none';
	};
	function showuserinfo() {
		document.getElementById('update_billinginfo').style.display = 'none';
    	document.getElementById('update_shippinginfo').style.display = 'none';
    	document.getElementById('update_creditinfo').style.display = 'none';
    	var x = document.getElementById('update_userinfo');
    	if (x.style.display === 'none') {
    	    x.style.display = 'block';
    	} else {
    	    x.style.display = 'none';
		}
	}
	function showbillinginfo() {
		document.getElementById('update_userinfo').style.display = 'none';
		document.getElementById('update_shippinginfo').style.display = 'none';
    	document.getElementById('update_creditinfo').style.display = 'none';
    	var x = document.getElementById('update_billinginfo');
    	if (x.style.display === 'none') {
    	    x.style.display = 'block';
    	} else {
    	    x.style.display = 'none';
		}
	}
	function showshippinginfo() {
		document.getElementById('update_userinfo').style.display = 'none';
    	document.getElementById('update_billinginfo').style.display = 'none';
		document.getElementById('update_creditinfo').style.display = 'none';
    	var x = document.getElementById('update_shippinginfo');
    	if (x.style.display === 'none') {
    	    x.style.display = 'block';
    	} else {
    	    x.style.display = 'none';
		}
	}
	function showcreditinfo() {
		document.getElementById('update_userinfo').style.display = 'none';
    	document.getElementById('update_billinginfo').style.display = 'none';
    	document.getElementById('update_shippinginfo').style.display = 'none';
    	var x = document.getElementById('update_creditinfo');
    	if (x.style.display === 'none') {
    	    x.style.display = 'block';
    	} else {
    	    x.style.display = 'none';
		}
	}
</script>
<div class="info_sec">
	<div class="container">
		<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Account</li>
		</ol>
		<h2>Update information to purchase products.</h2>
		<br></br>

		<style>			
			hr { 
    			display: block;
				margin-top: 0.5em;
				margin-bottom: 0.5em;
    			border-style: inset;
				border-width: 1px;
			}
		</style>
		<div class="col-md-10 update_form">
			<h3><button onclick="showuserinfo()" type="button">Edit</button>  User information</h3>
			<form id="update_userinfo" method="post" action="/account">
				<label><input placeholder="first name" name='firstname' type="text" required> {{info['fname']}}</label>
				<label><input placeholder="last name" name='lastname' type="text" required> {{info['lname']}}</label>
				<br>
				<label><input type="submit" value="updateuserinfo" name="userinfo" id="userinfo-submit"></label>
			</form>
			<hr>
			
			<h3><button onclick="showbillinginfo()" type="button">Edit</button>  Billing information</h3>
			<form id="update_billinginfo" method="post" action="/account">	
				<label><input placeholder="bstreet" name='bstreet' type="text" required> {{info['bstreet']}}</label>
				<label><input placeholder="bstreet2" name='bstreet2' type="text" required> {{info['bstreet2']}}</label>
				<label><input placeholder="bcity" name='bcity' type="text" required> {{info['bcity']}}</label>
				<label><input placeholder="bstate" name='bstate' type="text" required> {{info['bstate']}}</label>
				<label><input placeholder="bzip" name='bzip' type="text" required> {{info['bzip']}}</label>
				<br>
				<label><input type="submit" value="update" id="billing-submit"></label>
			</form>
			<hr>
			
			<h3><button onclick="showshippinginfo()" type="button">Edit</button>  Shipping information</h3>
			<form id="update_shippinginfo" method="post" action="/account">	
				<label><input placeholder="sstreet" name='sstreet' type="text" required> {{info['sstreet']}}</label>
				<label><input placeholder="sstreet2" name='sstreet2' type="text" required> {{info['sstreet2']}}</label>
				<label><input placeholder="scity" name='scity' type="text" required> {{info['scity']}}</label>
				<label><input placeholder="sstate" name='sstate' type="text" required> {{info['sstate']}}</label>
				<label><input placeholder="szip" name='szip' type="text" required> {{info['szip']}}</label>
				<br>
				<label><input type="submit" value="update" id="billing-submit"></label>
			</form>
			<hr>
			
			<h3><button onclick="showcreditinfo()" type="button">Edit</button>  Credit Card information</h3>
			<form id="update_creditinfo" method="post" action="/account">
				<label><input placeholder="cardno" name='cardno' type="text" required> {{info['cardno']}}</label>
				<label><input placeholder="csc" name='csc' type="text" required> {{info['csc']}}</label>
				<label><input placeholder="exp" name='exp' type="text" required> {{info['exp']}}</label>
				<br>
				<label><input type="submit" value="update" id="credit-submit"></label>
			</form>
		</div>
<!--		 
		 <form method='post' action='/account_info'>
		 	<h3>Account update page</h3>
			<input type="submit" name="account_info" value="update">
		 </form>
-->
	</div>
	<div class="clearfix"></div>
</div>
{% endblock %}