{% extends "layout.html" %}

{% block content %}
<div class="login_sec">
	 <div class="container">
		 <ol class="breadcrumb">
		  <li><a href="/">Home</a></li>
		  <li class="active">Account Info</li>
		 </ol>
		 <h2>User Information</h2>
		 <p>Update your information in order to purchase products.</p>
		 <div class="col-md-6 log -left">			 
				 <form method='post' action='/account_info'>
				 	<h3>User information</h3>
					<input placeholder="Firstname" type="text" name="fname" required>
					<input placeholder="Lastname" type="text" name="lname" required>
					<p><a href="/contact">Request email or password change?</a></p>
					<input type="submit" name="account_info" value="update">
				 </form>				 
		 </div>
		 <div class="col-md-6 log -right">
		 	<form method='post' action='/account_info'>
					<h3>Payment information</h3>
					<input placeholder="Cardno" type="text" name="Cardno" required>
					<input placeholder="csc" type="text" name="csc" required>
					<input placeholder="exp" type="text" name="exp" required>
		 			<h3>Billing information</h3>
					<input placeholder="Street1" type="text" name="Street1" required>
					<input placeholder="Street2" type="text" name="Street2" required>
					<input placeholder="City" type="text" name="City" required>
					<input placeholder="State" type="text" name="State" required>					
					<input placeholder="Zip code" type="text" name="Zip code" required>
					<h3>Shipping information</h3>
					<input placeholder="Street1" type="text" name="Street1" required>
					<input placeholder="Street2" type="text" name="Street2" required>
					<input placeholder="City" type="text" name="City" required>
					<input placeholder="State" type="text" name="State" required>					
					<input placeholder="Zip code" type="text" name="Zip code" required>
			</form>
		</div>
		 <div class="clearfix"></div>
	 </div>
</div>
{% endblock %}