{% extends "layout.html" %}

{% block content %}
<div class="info_sec">
	<div class="container">
		<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Account Info</li>
		</ol>

		<div class="update_form">
			<h2>Update information to purchase products.</h2>
			<form id="registration_form" method="post" action="/account">
				<label>
					<input placeholder="first name" name='firstname' type="text">
					<input type="submit" value="update" id="fname-submit">
				</label>
			</form>
		 </div>
<!--
		 <form method='post' action='/account_info'>
		 	<h3>User information</h3>
			<input placeholder="Firstname" type="text" name="fname" required>
			<input type="submit" name="account_info" value="update">
		 </form>
-->
	</div>
	<div class="clearfix"></div>
</div>
{% endblock %}