{% extends "layout.html" %}

{% block content %}
<div class="info_sec">
	<div class="container">
		<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Account</li>
		</ol>
		<h2>Update information to purchase products.</h2>
		<br></br>
		<!-- use span to keep everything on same line-->
		<div class="col-md-0 update_form">
<!--
			<label>{{info['fname']}}</label>
			<label>{{info['lname']}}</label>
			<p>{{info['bstreet']}}</p>
			<p>{{info['bstreet2']}}</p>
			<p>{{info['bcity']}}</p>
			<p>{{info['bstate']}}</p>
			<p>{{info['bzip']}}</p>
			
			<p>{{info['sstreet']}}</p>
			<p>{{info['sstreet2']}}</p>
			<p>{{info['scity']}}</p>
			<p>{{info['sstate']}}</p>
			<p>{{info['szip']}}</p>
			
			<p>{{info['cardno']}}</p>
			<p>{{info['csc']}}</p>
			<p>{{info['exp']}}</p>
-->
		</div>
		<div class="col-md-10 update_form">
			<form id="registration_form" method="post" action="/account">
				<h3>User information</h3>
				<label><input placeholder="first name" name='firstname' type="text"> <input type="submit" value="update" id="fname-submit"> {{info['fname']}}</label>
<!---->
				<label><input placeholder="last name" name='lastname' type="text"> <input type="submit" value="update" id="lname-submit"> {{info['lname']}}</label>
				<br></br>
				<!--
				<h3>Billing information</h3>
				<label><input placeholder="bstreet" name='bstreet' type="text"> <input type="submit" value="update" id="bstreet-submit"> {{info['bstreet']}}</label>
				<label><input placeholder="bstreet2" name='bstreet2' type="text"> <input type="submit" value="update" id="bstreet2-submit"> {{info['bstreet2']}}</label>
				<label><input placeholder="bcity" name='bcity' type="text"> <input type="submit" value="update" id="bcity-submit"> {{info['bcity']}}</label>
				<label><input placeholder="bstate" name='bstate' type="text"> <input type="submit" value="update" id="bstate-submit"> {{info['bstate']}}</label>
				<label><input placeholder="bzip" name='bzip' type="text"> <input type="submit" value="update" id="bzip-submit"> {{info['bzip']}}</label>
				<br></br>
				<h3>Shipping information</h3>
				<label><input placeholder="sstreet" name='sstreet' type="text"> <input type="submit" value="update" id="sstreet-submit"> {{info['sstreet']}}</label>
				<label><input placeholder="sstreet2" name='sstreet2' type="text"> <input type="submit" value="update" id="sstreet2-submit"> {{info['sstreet2']}}</label>
				<label><input placeholder="scity" name='scity' type="text"> <input type="submit" value="update" id="scity-submit"> {{info['scity']}}</label>
				<label><input placeholder="sstate" name='sstate' type="text"> <input type="submit" value="update" id="sstate-submit"> {{info['sstate']}}</label>
				<label><input placeholder="szip" name='szip' type="text"> <input type="submit" value="update" id="szip-submit"> {{info['szip']}}</label>
				<br></br>
				<h3>Credit card information</h3>
				<label><input placeholder="cardno" name='cardno' type="text"> <input type="submit" value="update" id="cardno-submit"> {{info['cardno']}}</label>
				<label><input placeholder="csc" name='csc' type="text"> <input type="submit" value="update" id="csc-submit"> {{info['csc']}}</label>
				<label><input placeholder="exp" name='exp' type="text"> <input type="submit" value="update" id="exp-submit"> {{info['exp']}}</label>
				-->
<!---->
			</form>
		</div>
<!--		 
		 <form method='post' action='/account_info'>
		 	<h3>Account update page</h3>
			<input type="submit" name="account_info" value="update">
		 </form>
-->
	</div>
	<div class="clearfix"></div>
</div>
{% endblock %}