{% extends "layout.html" %}

{% block content %}
<div class="info_sec">
	<div class="container">
		<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Add Account</li>
		</ol>
		<h2>Add New Accounts</h2>
		<br>

		<style>			
			hr { 
    			display: block;
				margin-top: 0.5em;
				margin-bottom: 0.5em;
    			border-style: inset;
				border-width: 1px;
			}
			label {
				padding-bottom: 10px;
			}
		</style>
		<div class="col-md-10 update_form">
			<form id="new_account" method="post" action="/addAccount">
				<label><input placeholder="First Name" name='firstname' type="text" required></label>
				<label><input placeholder="Last Name" name='lastname' type="text" required></label>
				<label><input placeholder="Email" name='email' type="text" required></label>
				<label><select name='employeetype' type="text" required>
						<option value="" selected ="selected" disabled>Employee Type</option>
						{% if session['master'] == True %}
						<option value="master">Master Administrator</option>
						{% endif %}
		     			<option value="master">Manager Administrator</option>
		     			<option value="sales">Sales Administrator</option>
		     			<option value="employee">Employee</option>
				</select>
				</label>
				
				<br>
				<label><input placeholder="Street 1" name='street1' type="text" required></label>
				<label><input placeholder="Street 2" name='street2' type="text" required></label>
				<br>
				<label><input placeholder="City" name='city' type="text" required></label>
				<label><select name="state" required>
		     				<option selected ="selected" value="" disabled>State</option>
		     				<option value="AL">AL</option>
		     				<option value="AK">AK</option>
		     				<option value="AZ">AZ</option>
		     				<option value="CA">CA</option>
		     				<option value="CO">CO</option>
		     				<option value="CT">CT</option>
		     				<option value="DE">DE</option>
		     				<option value="FL">FL</option>
		     				<option value="GA">GA</option>
		     				<option value="HI">HI</option>
		     				<option value="ID">ID</option>
		     				<option value="IL">IL</option>
		     				<option value="IN">IN</option>
		     				<option value="IA">IA</option>
		     				<option value="KS">KS</option>
		     				<option value="KY">KY</option>
		     				<option value="LA">LA</option>
		     				<option value="ME">ME</option>
		     				<option value="MD">MD</option>
		     				<option value="MA">MA</option>
		     				<option value="MI">MI</option>
		     				<option value="MN">MN</option>
		     				<option value="MS">MS</option>
		     				<option value="MO">MO</option>
		     				<option value="MT">MT</option>
		     				<option value="NV">NV</option>
		     				<option value="NH">NH</option>
		     				<option value="NM">NM</option>
		     				<option value="NY">NY</option>
		     				<option value="NC">NC</option>	
		     				<option value="ND">ND</option>
		     				<option value="OH">OH</option>
		     				<option value="OK">OK</option>
		     				<option value="OR">OR</option>
		     				<option value="PA">PA</option>
		     				<option value="RI">RI</option>
		     				<option value="SC">SC</option>
		     				<option value="SD">SD</option>
		     				<option value="TN">TN</option>
		     				<option value="TX">TX</option>
		     				<option value="UT">UT</option>
		     				<option value="VT">VT</option>
		     				<option value="VA">VA</option>
		     				<option value="WA">WA</option>
		     				<option value="WV">WV</option>
		     				<option value="WI">WI</option>
		     				<option value="WY">WY</option>
		     				</select></label>
				<br>
				<label><input placeholder="Zip Code" name='zip' type="text" required></label>
				<br>
				<label><input type="submit" value="Add" name="newAccount" id="add_newAccount"></label>
			</form>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
{% endblock %}