{% extends "layout.html" %}

{% block content %}
<div class="info_sec">
	<div class="container">
		<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Add Products</li>
		</ol>
		<h2>Add New Products</h2>
		<br>

		<style>			
			td { 
    			padding:10px;
			}
		
		</style>
		<div class="col-md-10 update_form">
			<form id="new_Product" method="post" action="/addProduct">
				<table>
				<tr><td>Product name: </td><td><input type="text" name="name"></td></tr>
				<tr><td>Image:</td><td><input type="file" name="image" accept="image/*"></td></tr>
				<tr><td>Price: </td><td><input type="decimal" placeholder ="$0.00"></td></tr>
				<tr><td>Description:</td><td><input type="text" name="desc"></td></tr>
				<tr><td><input type="submit" value="Add" name="newProduct" id="add_newProduct"></td></tr>
				</table>
			</form>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
{% endblock %}