{% extends "layout.html" %}

{% block content %}
<div class="cart_main">
	 <div class="container">
			 <ol class="breadcrumb">
		  <li><a href="men.html">Home</a></li>
		  <li class="active">Cart</li>
		 </ol>			
		 <div class="cart-items">
			 <h2>My Shopping Bag ({{count}})</h2>
			 {% for item in cart %}
				<script>$(document).ready(function(c) {
					$('.close1').on('click', function(c){
						$('.cart-header').fadeOut('slow', function(c){
							$('.cart-header').remove();
						});
						});	  
					});
			   </script>
			 <div class="cart-header">
				 <div class="close1"> </div>
				 <div class="cart-sec">
						<div class="cart-item cyc">
							 <img src={{item[2]}}/>
						</div>
					   <div class="cart-item-info">
							 <h3>{{item[1]}}<span>Product ID: {{item[0]}}</span></h3>
							 <h4>${{item[3]}} </h4>
							 <p class="qty">Qty</p>
								<input min="1" type="number" id="quantity" name="quantity" value={{item[4]}} class="form-control input-small">
					   </div>
					   <div class="clearfix"></div>
				  </div>
			 </div>
			 <script>$(document).ready(function(c) {
					$('.close2').on('click', function(c){
							$('.cart-header2').fadeOut('slow', function(c){
						$('.cart-header2').remove();
					});
					});	  
					});
			 </script>
		 </div>
		 {% endfor %}
		 
		 <div class="cart-total">
			 <div class="price-details">
				 <span>Total</span>
				 <span class="total">${{subtotal}}</span>
				 <span>Tax</span>
				 <span class="total">${{tax}}</span>
				 <span>Delivery Charges</span>
				 <span class="total">${{shipping}}</span>
				 <div class="clearfix"></div>				 
			 </div>	
			 <h4 class="last-price">TOTAL</h4>
			 <span class="total final">${{total}}</span>
			 
			 <div class="clearfix"></div>
			 <a class="order" href="#">Place Order</a>
			 <div class="total-item">
			 </div>
			</div>
	 </div>
</div>
{% endblock %}