{% extends "layout.html" %}

{% block content %}
<div class="cart_main">
	 <div class="container">
			 <ol class="breadcrumb">
		  <li><a href="men.html">Home</a></li>
		  <li class="active">Cart</li>
		 </ol>			
		 <div class="cart-items">
			 <h2>My Cart ({{count}})</h2>
			 {% for item in cart %}
				<script>/*$(document).ready(function(c) {
					
					$('.close1').on('click', function(c){
						$('.cart-header').fadeOut('slow', function(c){
							//$('.cart-header').remove();
						});
						});	  
					});
					
					*/
					
					
			   </script>
			  
			 <div class="cart-header">
			 	
				 <div class="close1">
				 	<form method="post" action="/cartrm">
				 	<input type='image' name='cartrm' value='{{item[0]}}' src="/static/images/close.png">
				 </div>
				 </form>
				 
					<div class="cart-sec">
						<div class="cart-item cyc">
							 <img src={{item[2]}}>
						</div>
					   <div class="cart-item-info">
							 <h3>{{item[1]}}<span>Product ID: {{item[0]}}</span></h3>
							 <h4>${{item[3]}} </h4>
							 <p class="qty" style="float:right">Qty 
								<span><input min="1" type="number" id="quantity" data-ng-model="quantity{{item[4]}}" ng-change="cartqty(quantity{{item[4]}},{{item[0]}})" class="form-control input-small"></span></p>
					   </div>
					   <div class="clearfix"></div>
				  </div>
			 </div>
		 </div>
		 {% endfor %}
		 
		 <div class="cart-total">
			 <div class="price-details">
				 <span>Subtotal</span>
				 <span class="total">${{subtotal1}}</span>
				 <span>Tax</span>
				 <span class="total">${{tax1}}</span>
				 <span>Shipping</span>
				 <span class="total">${{shipping1}}</span>
				 <div class="clearfix"></div>				 
			 </div>	
			 <h4 class="last-price">TOTAL</h4>
			 <span class="total final">${{total1}}</span>
			 <div class="clearfix"></div>
			 <a class="order" href="/checkoutinfo">Place Order</a>
			 <div class="total-item">
			 </div>
			</div>
	 </div>
</div>
{% endblock %}