<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html ng-app="App">
<html>
<head>
<title>Gusty's Bike Shop</title>
<link href="static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary JavaScript plugins) -->
<script type='text/javascript' src="static/js/jquery-1.11.1.min.js"></script>
<!-- Custom Theme files -->
<link href="static/css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Furnyish Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='https://fonts.googleapis.com/css?family=Montserrat|Raleway:400,200,300,500,600,700,800,900,100' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Aladin' rel='stylesheet' type='text/css'>
<!-- start menu -->
<link href="static/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="static/js/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script src="static/js/menu_jquery.js"></script>
<script src="static/js/simpleCart.min.js"> </script>
<link href="static/css/form.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.js"></script>
  <script src="static/js/controller.js"></script>
  
</head>
<body>
<!-- header -->
<div class="container" ng-controller="AppController">
<div class="top_bg">
	<div class="container">
		<div class="header_top-sec">
			<div class="top_right">
				<ul>
					<li><a href="#">help</a></li>|
					<li><a href="/contact">Contact</a></li>
					{% if session['loggedin'] != True %}
					|<li><a href="/signup">Register</a></li>
					{% endif %}
					
					{% if session['loggedin'] == True and session['employee'] == False %}
					|<li class="top_link"><a href="/account">My Account</a></li>
					|<li class="top_link"><a href="/orders">Orders</a></li>
					{% elif session['employee'] == True %}
					|<li class="top_link"><a href="/">Home</a></li>
					|<li class="top_link"><a href="/timesheet">Timesheet</a></li>
					{% elif session['master'] == True or session['manager'] == True %}
					|<li class="top_link"><a href="/addAccount">Add Account</a></li>
					{% endif %}
				</ul>
			</div>
			<div class="top_left">
				<ul>
					{% if session['loggedin'] == False %}
					<li class="top_link"><a href="/login">Login</a></li>|
					{% elif session['loggedin'] == True %}
					<li class="top_link">Email: <a href=user>{{ session['email'] }}</a></li>|
					<li class="top_link"><a href="/logout">Logout</a></li>|
					{% endif %}
				</ul>
				<div class="social">
					<ul>
						<li><a href="#"><i class="facebook"></i></a></li>
						<li><a href="#"><i class="twitter"></i></a></li>
						<li><a href="#"><i class="dribble"></i></a></li>	
						<li><a href="#"><i class="google"></i></a></li>						
					</ul>
				</div>
			</div>
				<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="header_top">
	 <div class="container">
		 <div class="logo">
		 	{% if session['employee'] == True %}
		 	<a href="/"><span style="float: left"><img src="static/images/businessman.png" width="600px"/></span><h1>Gusty's Bike Shop</h1></a>
		 	{% else %}
		 	<a href="/"><span style="float: left"><img src="static/images/Bike Shop logo HD.png" width="600px"/></span><h1>Gusty's Bike Shop</h1></a>
		 	{% endif %}
		 </div>
		 <div class="header_right">	
			 <div class="cart box_1">
			 	{% if session['loggedin'] and session['employee'] == False %}
				<a href="/cart">
					<h3><img src="static/images/bag.png" alt=""> $<span ng-bind="totals['total']"></span> (<span ng-bind="totals['count']"></span> items)</h3>
				</a>
				{% elif session['loggedin'] and session['employee'] == True %}
				
				
				{% else %}
				<a href="/login">
					<h3><img src="static/images/bag.png" alt=""> $0</span> (0 items)</h3>
				</a>
				
				{% endif %}
				<div class="clearfix"> </div>
				
			 </div>	
		 </div>
		  <div class="clearfix"></div>	
	 </div>
</div>
<!--cart-->
	 
<!------>
{% if session['employee'] == False %}
<div class="mega_nav">
	 <div class="container">
		 <div class="menu_sec">
		 <!-- start header menu -->
		 <ul class="megamenu skyblue">
			<li class="active grid"><a class="color1" href="/">Home</a></li>
			<li class="grid"><a class="color2" href="/bikes">Bikes & Frames</a></li>
			<li><a class="color4" href="/parts">Parts & Components</a></li>
			<li><a class="color5" href="/tools">Tools</a></li>
			<li><a class="color6" href="/blog">Blog</a></li>
		 </ul> 
			   <div class="search">
				 <form>
					<input type="text" value="" placeholder="Search...">
					<input type="submit" value="">
					</form>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	  </div>
</div>
{% endif %}
<!---->
<!--header//-->
{% block content %} {% endblock %}
	
<!---->
<div class="footer-content">
	 <div class="container">
		 <div class="ftr-grids">
			 <div class="col-md-3 ftr-grid">
				 <h4>About Us</h4>
				 <ul>
					 <li><a href="#">Who We Are</a></li>
					 <li><a href="/contact">Contact Us</a></li>
					 <li><a href="#">Our Sites</a></li>
					 <li><a href="#">In The News</a></li>
					 <li><a href="#">Team</a></li>
					 <li><a href="#">Carrers</a></li>					 
				 </ul>
			 </div>
			 {% if session['employee'] == False %}
			 <div class="col-md-3 ftr-grid">
				 <h4>Customer service</h4>
				 <ul>
					 <li><a href="#">FAQ</a></li>
					 <li><a href="#">Shipping</a></li>
					 <li><a href="#">Cancellation</a></li>
					 <li><a href="#">Returns</a></li>
					 <li><a href="#">Bulk Orders</a></li>
					 <li><a href="#">Buying Guides</a></li>					 
				 </ul>
			 </div>
			 <div class="col-md-3 ftr-grid">
				 <h4>Your account</h4>
				 <ul>
					 <li><a href="/login">Your Account</a></li>
					 <li><a href="/account">Personal Information</a></li>
					 <li><a href="/orders">Track your order</a></li>					 					 
				 </ul>
			 </div>
			 {% endif %}
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!---->
<div class="footer">
	<div class="container">
		<div class="store">
			<ul>
				<li class="active">OUR STORE LOCATIONS:</li>
				<li><a href="#">United States</a></li>
			</ul>
		</div>		 
		<div class="copywrite">
			<p>Copyright © 2017 Gusty's Bike Shop All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		</div>			 
	</div>
</div>
</div>
</body>
</html>