{% extends "layout.html" %}

{% block content %}
<div class="cart_main">
	 <div class="container">
	     <ol class="breadcrumb">
		  <li><a href="men.html">Home</a></li>
		  <li><a href="men.html">Account</a></li>
		  <li class="active">Order</li>
		 </ol>	
		 <h3 style="text-align:center">Your Orders</h3>
		 <br>
		 <style>
				td{
    				padding-left: 40px;
    				padding-right: 40px;
    				padding-top: 10px;
    				text-align: center;
				}
				
				table {
					margin:auto;
				}
				

		 </style>
		
	   		{% for item in order %}
	   			<div class="sofaset-info">
				<h4 style="font-size:125%">{{item[0]["orderdate"]}}<span style="display:inline; padding-left:15px;">Order: {{item[0]["orderid"]}}</span></h4>
	   			<br>
	   			
	   			{% for items in item %}
	   			<div class="cart-header">
				 
					<div class="cart-sec">
						<div class="cart-item cyc">
							 <img src="{{items['image']}}">
						</div>
					   <div class="cart-item-info">
							 <h3>{{items["name"]}} | {{items["status"]}}<h6>Product ID: {{items["productid"]}}</h6></h3>
							 <h3>Qty: {{items["quantity"]}}</h3>
							 <h4>${{items["price"]}}</h4>
					   </div>
					   <div class="clearfix"></div>
				  </div>
			 </div>
	   			
	   			</div>
	   			{% endfor %}
	   			
	   		{% endfor %}
	   		
	   	</table>
	   		
		  <br>
	 </div>
</div>
{% endblock %}