{% extends "layout.html" %}

{% block content %}
<div class="cart_main">
	 <div class="container">
	    <ol class="breadcrumb">
		  <li><a href="men.html">Home</a></li>
		  <li class="active">Cart</li>
		 </ol>			
		     <a href="/account"><h5 style="color:blue; text-align:right">Update Profile Information</h5></a>
		     <style>
		     	label, input{
		     		/*display:inline-block;*/
					width:200px;
					margin-right:30px;
					text-align:left;	
		     	}
		     	
				label {
    				margin-bottom: 10px;
				}
		     </style>
		     
		     <form methods = 'post' action='/orderconfirmation'>
		     <h4>Customer Information</h4>
		     <br>
		     
		     <label>First Name:  <input type='text' name="firstname" value="{{info['first']}}" required></label>
		     <label>Last Name:  <input type='text' name="lastname" value="{{info['last']}}" required></label>
		     <label>Email:  <input type='text' name="email" value="{{info['email']}}" required></label>
             <br>
		         
		     <h4>Billing Information</h4>
		     <br>
		     <label>Street Address: <input type='text' name="bstreet" value="{{info['bstreet']}}" required></label>
		     <label>Street Address 2:<input type='text' name="bstreet2" value="{{info['bstreet2']}}" required></label>
		     <label>City: <input type='text' name="bcity"  value="{{info['bcity']}}" required></label>
		     <label>State: <input type='text' name="bstate"  value="{{info['bstate']}}" required></label>
		     <label>Zip: <input type='text' name="bzip"  value="{{info['bzip']}}" required></label>
             <br>
		     
		     <h4>Shipping Information</h4>
		     <br>
		     <label>Street Address: <input type='text' name="sstreet" value="{{info['sstreet']}}" required></label>
		     <label>Street Address 2: <input type='text' name="sstreet2" value="{{info['sstreet2']}}" required></label>
		     <label>City: <input type='text' name="scity" value="{{info['scity']}}" required></label>
		     <label>State: <input type='text' name="sstate" value="{{info['sstate']}}" required></label>
		     <label>Zip: <input type='text' name="szip" value="{{info['szip']}}" required></label>
		     <br>
		     
		     <h4>Card Information</h4>
		     <br>
		     <label>Card Number: <input type='text' name="cardno" value="{{info['cardno']}}" required></label>
		     <label>Csc: <input type='text' name="csc" value="{{info['csc']}}" required></label>
		     <label>Expiration Date: <input type='text' name="exp" value="{{info['exp']}}" required></label>
		     </table>
		     <br>

		     </div>
		     <br>
			 <h4>Items ({{totals['count']}})</h4>
			 <div class="cart-items">
			 {% for item in cart %}
			 <div class="cart-header">
				 
					<div class="cart-sec">
						<div class="cart-item cyc">
							 <img src={{item[2]}}>
						</div>
					   <div class="cart-item-info">
							 <h3>{{item[1]}} <h6>Product ID: {{item[0]}}</h6></h3>
							 <h3>Qty: {{item[4]}}</h3>
							 <h4>${{item[3]}} </h4>
					   </div>
					   <div class="clearfix"></div>
				  </div>
			 </div>
		 
		 {% endfor %}
		 </div>
		 <div class="cart-total">
			 <div class="price-details">
				 <span>Subtotal</span>
				 <span class="total">$ {{totals['subtotal']}}</span>
				 <span>Tax</span>
				 <span class="total">$ {{totals['tax']}}</span>
				 <span>Shipping</span>
				 <span class="total">$ {{totals['shipping']}}</span>
				 <div class="clearfix"></div>				 
			 </div>	
			 <h4 class="last-price">TOTAL</h4>
			 <span class="total final">$ {{totals['total']}}</span>
			 <div class="clearfix"></div>
			 <!--<a class="order" href="/orderconfirmation">Confirm Order</a>-->
			 <input class="order" type="submit" value="Confirm Order">
			 <div class="total-item">
			 </div>
			</div>
			</form>
	 <!--</div>-->
</div>
{% endblock %}