{% extends "layout.html" %}

{% block content %}
<div class="cart_main">
	 <div class="container">
	    <ol class="breadcrumb">
		  <li><a href="men.html">Home</a></li>
		  <li class="active">Cart</li>
		 </ol>			
		     <a href="/account"><h5 style="text-align:right">Update Profile Information</h5></a>
		     <form>
		         
             <table>
		     <h4>Customer Information</h4>
		     <br>
		     <tr><td>First Name: </td> <td><input type='text' name="firstname" value="{{info['first']}}" required></td></tr>
		     <tr><td>Last Name: </td> <td><input type='text' name="lastname" value="{{info['last']}}" required></td></tr>
		     <tr><td>Email: </td> <td><input type='text' name="email" value="{{info['email']}}" required></td></tr>
		     </table>
             <br>
		         
		     <table>
		     <h4>Billing Information</h4>
		     <br>
		     <tr><td>Street Address: </td> <td><input type='text' value="{{info['bstreet']}}" required></td></tr>
		     <tr><td>Street Address 2: </td> <td><input type='text' value="{{info['bstreet2']}}" required></td></tr>
		     <tr><td>City: </td> <td><input type='text' value="{{info['bcity']}}" required></td></tr>
		     <tr><td>State: </td> <td><input type='text' value="{{info['bstate']}}" required></td></tr>
		     <tr><td>Zip: </td> <td><input type='text' value="{{info['bzip']}}" required></td></tr>
		     </table>
             <br>
		     
		     <table>
		     <h4>Shipping Information</h4>
		     <br>
		     <tr><td>Street Address: </td> <td><input type='text' value="{{info['sstreet']}}" required></td></tr>
		     <tr><td>Street Address 2: </td> <td><input type='text' value="{{info['sstreet2']}}" required></td></tr>
		     <tr><td>City: </td> <td><input type='text' value="{{info['scity']}}" required></td></tr>
		     <tr><td>State: </td> <td><input type='text' value="{{info['sstate']}}" required></td></tr>
		     <tr><td>Zip: </td> <td><input type='text' value="{{info['szip']}}" required></td></tr>
		     </table>
		     <br>
		     
		     <table>
		     <h4>Card Information</h4>
		     <br>
		     <tr><td>Card Number: </td> <td><input type='text' value="{{info['cardno']}}" required></td></tr>
		     <tr><td>Csc: </td> <td><input type='text' value="{{info['csc']}}" required></td></tr>
		     <tr><td>Expiration Date: </td> <td><input type='text' value="{{info['exp']}}" required></td></tr>
		     </table>
		     <br>
		     </table>
		     </form>
		     
		     <br>
			 <h4>Items ({{totals['count']}})</h4>
			 <div class="cart-items">
			 {% for item in cart %}
			 <div class="cart-header">
				 
					<div class="cart-sec">
						<div class="cart-item cyc">
							 <img src={{item[2]}}>
						</div>
					   <div class="cart-item-info">
							 <h3>{{item[1]}} <h6>Product ID: {{item[0]}}</h6></h3>
							 <h3>Qty: {{item[4]}}</h3>
							 <h4>${{item[3]}} </h4>
					   </div>
					   <div class="clearfix"></div>
				  </div>
			 </div>
		 </div>
		 {% endfor %}
		 
		 <div class="cart-total">
			 <div class="price-details">
				 <span>Subtotal</span>
				 <span class="total">$ {{totals['subtotal']}}</span>
				 <span>Tax</span>
				 <span class="total">$ {{totals['tax']}}</span>
				 <span>Shipping</span>
				 <span class="total">$ {{totals['shipping']}}</span>
				 <div class="clearfix"></div>				 
			 </div>	
			 <h4 class="last-price">TOTAL</h4>
			 <span class="total final">$ {{totals['total']}}</span>
			 <div class="clearfix"></div>
			 <a class="order" href="/order">Confirm Order</a>
			 <div class="total-item">
			 </div>
			</div>
	 </div>
</div>
{% endblock %}