{% extends "layout.html" %}

{% block content %}
<div class="cart_main">
	 <div class="container">
	     <ol class="breadcrumb">
		  <li><a href="men.html">Home</a></li>
		  <li><a href="men.html">Account</a></li>
		  <li class="active">Order</li>
		 </ol>	
		 <h3 style="text-align:center">Your Orders</h3>
		 <br>
		 <style>
				td{
    				padding-left: 40px;
    				padding-right: 40px;
    				padding-top: 10px;
    				text-align: center;
				}
				
				table {
					margin:auto;
				}
				

		 </style>
		
	   		{% for item in order %}
	   			<div class="sofaset-info">
				<h4 style="font-size:125%">{{item[0]["orderdate"]}}<span style="display:inline; padding-left:15px;">Order: {{item[0]["orderid"]}}</span></h4>
	   			<br>
	   			<table>
	   			<tr style="border-bottom: 1px solid gray; padding-bottom: 10px;"><td>Product</td><td>Price</td><td>Quantity</td><td>Status</td></tr>	
	   			{% for items in item %}
	   			<tr><td>{{items["productid"]}}</td><td>${{items["price"]}}</td><td>{{items["quantity"]}}</td><td>{{items["status"]}}</td></tr>
				{% endfor %}
				</table>
				</div>
	   		{% endfor %}
	   		
	   	</table>
	   		
		  <br>
	 </div>
</div>
{% endblock %}