{% extends "layout.html" %}

{% block content %}
<!--Switch to a popup later-->
<div class="registration">
		 <div class="registration_left">
            <body>
                <div>
                    <label>
                        <h1>Success!</h1>
                    </label>
                </div>
                <div>
                    <label>
                        <p style="float:center">You have successfully registered an account.</p>
                    </label>
                </div>
            </body>
        </div>
</div>
{% endblock %}