{% extends "layout.html" %}

{% block content %}
<div class="single-sec">
	 <div class="container">
		 <ol class="breadcrumb">
			 <li><a href="/">Home</a></li>
			 <li class="active">Products</li>
		 </ol>
		 <!-- start content -->	
						<img src="{{item['image']}}" width="450px" length="500px">
				  <div class="single-right">
					 <h3>{{item['name']}}</h3>
					 <div class="id"><h4>ID: {{item['id']}}</h4></div>
					 
					  <div class="cost">
						 <div class="prdt-cost">
							 <ul>
							 	 <li>Stock: {{item['stock']}}</li>
								 <li>MRP: <del>$1000.00</del></li>
								 <li>Sellling Price:</li>
								 <li class="active">${{item['price']}}</li>

								<input type="number" ng-model="qty" class="item_quantity" ng-init="qty=1">
								{% if session['loggedin'] == True %}
								<input class="item_add items" type="submit" ng-model="add2cart" ng-click="addToCart({{item['id']}})" value="ADD TO CART">
								{% else %}
								<button class="item_add items">LOGIN TO ADD</button>
								{% endif %}
							 </ul>
						 </div>
											
						 <div class="clearfix"></div>
					  </div>
					  <div class="item-list">
						 <ul>
							 <li>Material: Metal</li>
							 <li>Color: Black</li>
							 <li>Style: Lightning frame</li>
							 <li>Brand: Gusty</li>
							 <li><a href="#">Click here for more details</a></li>
						 </ul>
					  </div>
					  <div class="single-bottom1">
						<h6>Details</h6>
						<p class="prod-desc">{{item['description']}}</p>
					 </div>					 
				  </div>
				  <div class="clearfix"></div>
				  {% if session["loggedin"] == True %}
		 				<div class="sofaset-info">
						 <h4>Review this Product</h4>
		 					 <form action='/review' method='post' class="sky-form">
						     <fieldset>					
							   <!--<section>-->
							     <div class="rating">
									<input type="radio" name="rating" id="5" value = 1>
									<label for="5"><i class="icon-star"></i></label>
									<input type="radio" name="rating" id="4" value = 2>
									<label for="4"><i class="icon-star"></i></label>
									<input type="radio" name="rating" id="3" value = 3>
									<label for="3"><i class="icon-star"></i></label>
									<input type="radio" name="rating" id="2" value = 4>
									<label for="2"><i class="icon-star"></i></label>
									<input type="radio" name="rating" id="1" value = 5 checked>
									<label for="1"><i class="icon-star"></i></label>
									<div class="clearfix"></div>
								 </div>
							  <!--</section>-->
							 
							  </section>
						    </fieldset>
						    <br>
						 
						    <input type="hidden" name="productid" value="{{item['id']}}"/>
						    <span style="display:inline"><input type="text" name="comment" placeholder="comment"/></span>
						    <span style="display:inline; padding-left:10px;"><input type="submit" name="submit" value="submit"/></span>

					  </form>
					  {% endif %}
				  <div class="sofaset-info">
						 <h4>Reviews for the {{item['name']}}</h4>
					<style>
						td{
		    				padding: 10px;
		    				text-align: center;
							border: 1px solid gray;
						}
						
		 			</style>

						<table>
							
						{% for c in reviews %}
							<h3>
						     <fieldset class="sky-form">					
							   <section>
							     <div class="rating">
									<input type="radio" name="stars-rating" id="5" {% if c['rating'] != 1 %} checked {% endif %} disabled>
									<label for="5"><i class="icon-star"></i></label>
									<input type="radio" name="stars-rating" id="4" {% if c['rating'] != 2 %} checked {% endif %} disabled>
									<label for="4"><i class="icon-star"></i></label>
									<input type="radio" name="stars-rating" id="3" {% if c['rating'] != 3 %} checked {% endif %} disabled>
									<label for="3"><i class="icon-star"></i></label>
									<input type="radio" name="stars-rating" id="2" {% if c['rating'] != 4 %} checked {% endif %} disabled>
									<label for="2"><i class="icon-star"></i></label>
									<input type="radio" name="stars-rating" id="1" {% if c['rating'] != 5 %}  {% endif %} disabled>
									<label for="1"><i class="icon-star"></i></label>
										<span style="padding-left:10px; display:inline">{{c['comment']}} </span><span style="padding-left:20px; display:inline; font-size:80%"> By {{c['customer']}} {{c['day']}}</span></h3>
									<div class="clearfix"></div>
								 </div>
							  </section>
						    </fieldset>
						    
						
							<br>
						{% endfor %}
						</table>
				  </div>
				  		 	
					  <br>
		    </div>
			
		</div>	     	
		     <div class="clearfix"></div>
	  </div>	 
</div>
{% endblock %}