{% extends "layout.html" %}

{% block content %}
<div class="single-sec">
	 <div class="container">
		 <ol class="breadcrumb">
			 <li><a href="/">Home</a></li>
			 <li class="active">Products</li>
		 </ol>
		 <!-- start content -->	
						<img src="static/images/bike1.jpg" width="450px" length="500px">
				  <div class="single-right">
					 <h3>Gustys Lightning Bike</h3>
					 <div class="id"><h4>ID: SB2379</h4></div>
					  <form action="" class="sky-form">
						     <fieldset>					
							   <section>
							     <div class="rating">
									<input type="radio" name="stars-rating" id="stars-rating-5">
									<label for="stars-rating-5"><i class="icon-star"></i></label>
									<input type="radio" name="stars-rating" id="stars-rating-4">
									<label for="stars-rating-4"><i class="icon-star"></i></label>
									<input type="radio" name="stars-rating" id="stars-rating-3">
									<label for="stars-rating-3"><i class="icon-star"></i></label>
									<input type="radio" name="stars-rating" id="stars-rating-2">
									<label for="stars-rating-2"><i class="icon-star"></i></label>
									<input type="radio" name="stars-rating" id="stars-rating-1">
									<label for="stars-rating-1"><i class="icon-star"></i></label>
									<div class="clearfix"></div>
								 </div>
							  </section>
						    </fieldset>
					  </form>
					  <div class="cost">
						 <div class="prdt-cost">
							 <ul>
								 <li>MRP: <del>$150</del></li>								 
								 <li>Sellling Price:</li>
								 <li class="active">$125</li>
								 <a href="#">BUY NOW</a>
							 </ul>
						 </div>
						 <div class="clearfix"></div>
					  </div>
					  <div class="item-list">
						 <ul>
							 <li>Material: Metal</li>
							 <li>Color: Black</li>
							 <li>Style: Lightning frame</li>
							 <li>Brand: Gusty</li>
							 <li><a href="#">Click here for more details</a></li>
						 </ul>
					  </div>
					  <div class="single-bottom1">
						<h6>Details</h6>
						<p class="prod-desc">Gustys Lightning Bike is sure to get you where you need to go fast. Made with top quality metal, Gusty himself hand made this bike to be the fastest thing on the market!</p>
					 </div>					 
				  </div>
				  <div class="clearfix"></div>
				  <div class="sofaset-info">
						 <h4>Product Summary Gustys Lightning Bike</h4>
						 <ul>
							 <li>Dimensions: 6'x 4'</li>
							 <li>Assembly Type: Pre Assembled</li>
							 <li>Material: Metal and soft genuine leather for maximum seat comfort</li>
							 <li>Looks amazing outdoors</li>
							 <li>Colour: Black</li>
							 <li>Type: 3 speed super lightning transmission</li>
							 <li>Long lasting, durable and easy to use product</li>
							 <li>Contents: 1 Bike</li>
							 <li>Delivery Time: 7 to 10 days from the Day of Dispatch</li>
							 <li>Hardcore speed and durability</li>
							 <li>SUPC: SHG21458689652</li>
							 <li>Material: High Density Foam and metal</li>
						 </ul>
				  </div>				  					
		    </div>
			
		</div>	     				
		     <div class="clearfix"></div>
	  </div>	 
</div>
{% endblock %}