{% extends "layout.html" %}

{% block content %}
<!--Switch to a timesheet-->
<!--<label><input placeholder="first name" name='firstname' type="text"> <input type="submit" value="update" id="fname-submit"> {{timesheet['fname']}}</label>-->

<!--    <label>{{timesheet[0][0]}}   :    {{timesheet[0][1]}}</label>
    <label>{{timesheet[1][0]}}   :    {{timesheet[1][1]}}</label> -->
    
    <div class="timesheet">
        <div class="col-md-2 timesheet">
            {% for i in timesheet %}
            {{i[0]}}
            <label>
                {{timesheet[i]}}
            </label>
            {% endfor %}
        </div>
        <div class="col-md-10 timesheet">
            {% for j in timesheet %}
            {{j[1]}}
            <label>
                {{timesheet[j]}}
            </label>
            {% endfor %}
        </div>
	</div>
	
	

	<br></br><br></br>
	<h3>How many hours did you work today?</h3>
	<p>todays hours worked can be overwritten</p>
    <form id="timesheet_form" method="post" action="/timesheet">
        <label>
            <input placeholder="hours" name='hours' type="number" required>
            <input type="submit" value="update" id="timesheet-submit">
        </label>
    </form>
{% endblock %}