{% extends "layout.html" %}

{% block content %}
<!--Switch to a timesheet-->
<!--<label><input placeholder="first name" name='firstname' type="text"> <input type="submit" value="update" id="fname-submit"> {{timesheet['fname']}}</label>-->

<!--<h1 style="text-align:center">Success!</h1>
<p style="text-align:center">You have successfully signed in as an employee.</p>-->
    <div class="timesheet">
        <div class="col-md-2 timesheet">
            {% for i in timesheet %}
            <label>
                {{timesheet[0][0]}}
            </label>
            {% endfor %}
        </div>
        <div class="col-md-10 timesheet">
            {{timesheet[0][1]}}
            {% for i in timesheet %}
            <label>
                {{timesheet[0][1]}}
            </label>
            {% endfor %}
        </div>
	</div>
	

	<br></br><br></br>
	<h3>How many hours did you work today?</h3>
    <form id="timesheet_form" method="post" action="/timesheet">
        <label>
            <input placeholder="hours" name='hours' type="text">
            <input type="submit" value="update" id="timesheet-submit">
        </label>
    </form>
{% endblock %}